@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

:root{
    --primary-color:#90cdf4;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

/* container */
.container{
    padding: 0rem,1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}   

/* links */
.link{
    text-decoration:none;
    padding: 0.5rem, 5rem;
}
.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem;
}
.secondary-link{
    border-radius: 5rem;
    color: (var(--primary-color));
    border: 1px solid var (var(--primary-color));
}

    